<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="resident">
            <h2><span jhiTranslate="jhipsterSampleApplicationApp.resident.detail.title">Resident</span> {{ resident.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.resident.firstName">First Name</span></dt>
                <dd>
                    <span>{{ resident.firstName }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.resident.lastName">Last Name</span></dt>
                <dd>
                    <span>{{ resident.lastName }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.resident.idNumber">Id Number</span></dt>
                <dd>
                    <span>{{ resident.idNumber }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.resident.facility">Facility</span></dt>
                <dd>
                    <div *ngIf="resident.facility">
                        <a [routerLink]="['/facility', resident.facility?.id, 'view']">{{ resident.facility?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/resident', resident.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
